#login,
#loggedin,
#selected-playlist-container {
  display: none;
  text-align: center;
}

body {
  background-color: #002b628f;
}

#lable {
  color: #002b62;
  margin: 0;
  padding: 2px 10px;
  font-size: 24px;
  line-height: 32px;
  box-radius: 3px;
  height: 36px;
  font-weight: bold;

}



#track {
  border-radius: 12px;
  background-color: #ffe29e8a;
  margin: 0;
  padding: 2px 10px;
  font-size: 24px;
  line-height: 32px;
  /* border: 1px solid #ccc; */
  box-radius: 3px;
  height: 36px;
  font: 20px/20px sans-serif;
  position: sticky;
  /* top: 0; */
  /* left: 0; */
  /* right: 0; */
  /* bottom: 0; */
  /* width: 50%; */
  width: 250px;
}

#login {
  display: block;
  margin: 25% 0 -25% 0;
  margin-top: 25%;
  margin-right: 0px;
  margin-bottom: -25%;
  margin-left: 0px;
}

.panel-body::after,
.panel-body::before {
  display: none;
}

.playlist-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

#playlistbox {
  border-radius: 12px;
  margin-right: 100%;
  margin-block: auto;
  width: 100%;
  border-radius: 12px;
  height: fit-content;
  min-height: 250px;
  padding: 14px;
}

.panel-body {
  display: inline-block;
  position: relative;
}

.panel-default {
  background-color: #d2cb908f;
  width: 315px;
  border-radius: 30px;
  color: #8001ff;
  /* width: 30%; */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(219, 157, 116, 0.4) 5px 2.5px, rgba(35, 122, 156, 0.3) 10px 5px;
  height: 100px;

}


.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}

.box:hover {
  filter: hue-rotate(180deg);
}

.box {

  width: 296px;
  height: 352px;
  background-color: rgb(77, 74, 88);
  border-radius: 12px;


  font-size: 17px;
  font-weight: bold;
  font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, );
  ;
  display: flex;
  justify-content: center;
  align-items: center;

}

.deadspace {
  height: 109.174px;
}

.boxText {
  filter: invert(100%);
  font-stretch: expanded;
  letter-spacing: 1.404rem;
  font-size: 27px;
  font-weight: bold;
  font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, );
  line-height: 83px;
  font-style: italic;
}

h1 {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
}

.col-sm-6 {
  position: sticky;
  min-height: 289px;
  padding-right: 14px;
  padding-left: -2px;
}

.row::before,
.row::after {
  content: none;

}

#form {
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: start;
  grid-template-areas:
    "a b";
}

.row {
  display: grid;
  justify-content: center;
  align-content: center;

  align-items: start;
}

@media screen and (orientation:portrait) {
  .row {

    grid-template-areas:
      "a"
      "b";

  }

  #playlistbox {
    margin-right: 0%;
    margin-block: auto;
  }

  .panel-default {
    background-color: #89d02d8f;
    border-radius: 30px;
    color: #8001ff;
    /* width: 30%; */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (orientation:landscape) and (min-width: 1376px) {

  .row {
    grid-template-areas: "a b c d";
  }

  #playlistbox {
    margin-right: 0%;
    margin-block: auto;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .row {

    grid-template-areas:
      "a"
      "b";

  }

  #playlistbox {
    margin-right: 0%;
    margin-block: auto;
    width: 100%;
  }
}

@media screen and (orientation:landscape) and (min-width: 768px) and (max-width: 1376px) {
  .row {

    grid-template-areas:
      "a b"
      "c d";

  }

  #playlistbox {
    margin-right: 0%;
    margin-block: auto;
    width: 100%;
  }
}

h2 {
  text-align: center;
  font-weight: bold;
  color: #002b628f;
}

.btn-like {
  border-radius: 12px;

}

.btn-green {
  color: #fff;
  background-color: #89d02d;
}

.btn-green:hover {
  color: #000;
  filter: invert(180%);
}

.btn-like:hover {
  color: rgb(92, 143, 119);
  box-shadow: 0 0 0 1px rgb(92, 143, 119);

}

#login {
  text-align: center;
}

a.text-green {
  color: #2ebd59;
}

.created-by {
  text-align: center;
}

.add-to-playlist {

  text-align: center;
  border-radius: 10px;
  background-color: #ffe29e8a;
  position: sticky;
  height: 36px;
  margin-left: 5px;

}

.widget {
  border-radius: 5px;
  padding: 15px 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.widget.style1 h2 {
  font-size: 30px;
}

.widget h2,
.widget h3 {
  margin-top: 5px;
  margin-bottom: 0;
}

.widget-text-box {
  padding: 20px;
  border: 1px solid #e7eaec;
  background: #ffffff;
}

.widget-head-color-box {
  border-radius: 5px 5px 0 0;
  margin-top: 10px;
}

.widget.green-bg {
  background-color: #2ebd59;
  color: #ffffff;
}

@media (min-width: 768px) {
  .widget-icon {
    font-size: 3em;
  }

  .widget-text {
    text-align: right;
  }
}

.thumbnail {
  width: 310px;
  border-radius: 12px;
  background-color: #c3bdc9ef;
  box-shadow: rgba(219, 157, 116, 0.4) 2.5px 2.5px, rgba(116, 118, 219, 0.3) 5px 5px, rgba(116, 219, 156, 0.2) 7.5px 7.5px, rgba(219, 116, 202, 0.1) 10px 10px;
}

@media (min-width: 1024px) {
  .widget-icon {
    font-size: 4em;
  }
}

.number-of-voters,
.number-of-popular-tracks,
.number-of-liked-tracks {
  display: none;
}

.lds-loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-loader div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-loader div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-loader div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-loader div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-loader {
  0% {
    top: 8px;
    height: 64px;
  }

  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}