.lds-grid {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-grid div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #cef;
  animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
  top: 6px;
  left: 6px;
  animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
  top: 6px;
  left: 26px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
  top: 6px;
  left: 45px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
  top: 26px;
  left: 6px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
  top: 26px;
  left: 26px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
  top: 26px;
  left: 45px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
  top: 45px;
  left: 6px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
  top: 45px;
  left: 26px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
  top: 45px;
  left: 45px;
  animation-delay: -1.6s;
}

@keyframes lds-grid {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

#playlistbox {
  width: 55vw;
  min-width: 350px;
}

.playlist-wrapper {
  display: none;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.header {
  align-items: center;
}

.thumbnail {
  border-radius: 5px;
  align-self: center;
  justify-self: center;
  /* background: rgba(255, 255, 255, 0.5); */
  background: none;
  border: none;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

h2 {
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.2);
}

.song {
  align-self: center;
}

.wrapper {
  margin-top: 13px;
  grid-column: col 2 / span 4;
  grid-row-start: row 1;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rows {
  display: flex;
  flex-wrap: wrap;
  margin-top: 13px;
  grid-gap: 10px;
  align-items: center;
  color: #444;
  justify-content: center;
  align-self: center;
  grid-auto-flow: column;
  background: none;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
}

.panel {
  display: grid;
  grid-gap: 10px;
  align-items: center;

  background: rgba(255, 255, 255, 0.5);

  color: #444;
  justify-content: center;
  align-self: center;
  grid-auto-flow: column;
  border-radius: 5px;
  border: none;
  box-shadow: none;

}



#lable {
  grid-column: col 2 / span 2;
  grid-row-start: row 1;
  justify-content: center;
  align-self: center;
  font-weight: bold;
  font-size: 13px;

}

#form {
  grid-column: col 1 / span 4;
  grid-row-start: row 2;
}



body {
  font-family: 'Montserrat', sans-serif;
}

.btn.active {
  box-shadow: none;
}

.btn-like {
  background: none;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  color: rgba(249, 197, 209, 1);
  cursor: pointer;
  display: inline-block;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.boxTom {

  width: 300px;
  height: 352px;
  background-color: rgb(77, 74, 88);
  border-radius: 12px;


  font-size: 17px;
  font-weight: bold;
  font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, );
  ;
  display: flex;
  justify-content: center;
  align-items: center;

}

.boxTom:hover {
  filter: hue-rotate(180deg);
}


.deadspace {
  height: 95.883px;
}

.deadspace-iframe {
  height: 90.92px;
}

.boxText {
  filter: invert(100%);
  font-stretch: expanded;
  letter-spacing: 1.4rem;
  font-size: 24px;
  font-weight: bold;
  font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, );
  line-height: 83px;
  font-style: italic;
}

.fa-heart {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.fa-arrow-right:hover {
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
}

.btn-lg {
  position: absolute;
  top: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  color: #444;
  background-color: rgba(150, 149, 239, 0.4);

}

.btn-lg:hover {
  background-color: rgba(249, 197, 209, 0.4);
  color: #444;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#login {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background: #F9C5D1;
  background: linear-gradient(45deg, #F9C5D1, #9795EF);
}

html {
  background: #9795EF;

}



input {
  border-style: none;
  background: transparent;
  outline: none;
}

button {
  padding: 0px;
  background: none;
  border: none;
  outline: none;
}

.webflow-style-input {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 400px;
  /* margin: 0 auto; */
  border-radius: 5px;
  padding: 1.4rem 2rem 1.8rem;
  min-height: 58px;
  min-width: 324.333px;
}

.webflow-style-input:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  height: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-position: 0% 0%;
  background: linear-gradient(to right, #F9C5D1, #9795EF);
  background-size: 500% auto;
}

.webflow-style-input input {
  flex-grow: 1;
  /* color: #c93cec; */
  /* font-size: 1.8rem;
  line-height: 2.4rem; */
  vertical-align: middle;
}

.webflow-style-input input::-webkit-input-placeholder {
  color: #7881a1;
}
.webflow-style-input p {
  color: #7881a1;
}

.webflow-style-input button {
  color: rgb(249, 197, 209);
  font-size: 2.4rem;
  line-height: 2.4rem;
  vertical-align: middle;
  transition: color 0.25s;
}

.webflow-style-input button:hover {
  color: rgb(201, 249, 197);

}

.remove-from-playlist {
  min-width: 0px;
  width: fit-content;
}
.add-song {

  min-width: 0px;
  width: fit-content;
  justify-content: center;
}
.remove {

  min-width: 0px;
  width: fit-content;
  margin-left: 5px;
}
